<div class="w-full">
  <div class="mb-3 bg-red-400 flex w-full p-7 justify-center">
    <%= form_tag searches_path, method: :get do %>
      <%= text_field_tag :q, nil, placeholder: "Search", class: "rounded w-6/12"%>
    <% end %>
  </div>
  
  <div>
    <h2 class="text-red-500 text-5xl block">Most Popular searches</h2>
    <% @searches.each do |s| %>
      <p class="block"><%= s.query %></p>
    <% end %>
  </div>
</div>
